<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>screenSizes</key>
	<dict>
		<key>1</key>
		<dict>
			<key>dataSize</key>
			<integer>22528</integer>
			<key>screenSize</key>
			<string>{104,72}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>dataSize</key>
			<integer>430080</integer>
			<key>screenSize</key>
			<string>{1364,103}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>dataSize</key>
			<integer>22528</integer>
			<key>screenSize</key>
			<string>{104,72}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>dataSize</key>
			<integer>22528</integer>
			<key>screenSize</key>
			<string>{104,72}</string>
		</dict>
		<key>31</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>32</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>33</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>34</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>35</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>36</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>37</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>38</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>39</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>40</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>41</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>42</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>43</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>44</key>
		<dict>
			<key>dataSize</key>
			<integer>30720</integer>
			<key>screenSize</key>
			<string>{134,72}</string>
		</dict>
		<key>45</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>46</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>47</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>48</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>49</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>5</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>50</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>51</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>52</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>53</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>54</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>55</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>56</key>
		<dict>
			<key>dataSize</key>
			<integer>30720</integer>
			<key>screenSize</key>
			<string>{134,72}</string>
		</dict>
		<key>57</key>
		<dict>
			<key>dataSize</key>
			<integer>40960</integer>
			<key>screenSize</key>
			<string>{184,72}</string>
		</dict>
		<key>58</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>59</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>6</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>60</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>61</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>62</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>63</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>64</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>65</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>66</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>67</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>68</key>
		<dict>
			<key>dataSize</key>
			<integer>40960</integer>
			<key>screenSize</key>
			<string>{184,72}</string>
		</dict>
		<key>69</key>
		<dict>
			<key>dataSize</key>
			<integer>22528</integer>
			<key>screenSize</key>
			<string>{104,72}</string>
		</dict>
		<key>7</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>70</key>
		<dict>
			<key>dataSize</key>
			<integer>22528</integer>
			<key>screenSize</key>
			<string>{104,72}</string>
		</dict>
		<key>71</key>
		<dict>
			<key>dataSize</key>
			<integer>22528</integer>
			<key>screenSize</key>
			<string>{104,72}</string>
		</dict>
		<key>72</key>
		<dict>
			<key>dataSize</key>
			<integer>116736</integer>
			<key>screenSize</key>
			<string>{530,72}</string>
		</dict>
		<key>73</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>74</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>75</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>76</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>77</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>78</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>8</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
		<key>9</key>
		<dict>
			<key>screenSize</key>
			<string>{72,72}</string>
		</dict>
	</dict>
	<key>defaultLayout</key>
	<dict>
		<key>1</key>
		<dict>
			<key>keyName</key>
			<string>⎋</string>
			<key>viewLocation</key>
			<string>{52,402}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>keyName</key>
			<string>F9</string>
			<key>viewLocation</key>
			<string>{495,402}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>keyName</key>
			<string>F10</string>
			<key>viewLocation</key>
			<string>{542,402}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>keyName</key>
			<string>F11</string>
			<key>viewLocation</key>
			<string>{589,402}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>keyName</key>
			<string>F12</string>
			<key>viewLocation</key>
			<string>{637,402}</string>
		</dict>
		<key>14</key>
		<dict>
			<key>keyName</key>
			<string>del</string>
			<key>viewLocation</key>
			<string>{685,402}</string>
		</dict>
		<key>15</key>
		<dict>
			<key>keyName</key>
			<string>LiveView</string>
			<key>viewLocation</key>
			<string>{50,344}</string>
		</dict>
		<key>16</key>
		<dict>
			<key>keyName</key>
			<string>`</string>
			<key>viewLocation</key>
			<string>{50,298}</string>
		</dict>
		<key>17</key>
		<dict>
			<key>keyName</key>
			<string>1</string>
			<key>viewLocation</key>
			<string>{98,298}</string>
		</dict>
		<key>18</key>
		<dict>
			<key>keyName</key>
			<string>2</string>
			<key>viewLocation</key>
			<string>{146,298}</string>
		</dict>
		<key>19</key>
		<dict>
			<key>keyName</key>
			<string>3</string>
			<key>viewLocation</key>
			<string>{192,298}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>keyName</key>
			<string>F1</string>
			<key>viewLocation</key>
			<string>{115,402}</string>
		</dict>
		<key>20</key>
		<dict>
			<key>keyName</key>
			<string>4</string>
			<key>viewLocation</key>
			<string>{241,298}</string>
		</dict>
		<key>21</key>
		<dict>
			<key>keyName</key>
			<string>5</string>
			<key>viewLocation</key>
			<string>{287,298}</string>
		</dict>
		<key>22</key>
		<dict>
			<key>keyName</key>
			<string>6</string>
			<key>viewLocation</key>
			<string>{335,298}</string>
		</dict>
		<key>23</key>
		<dict>
			<key>keyName</key>
			<string>7</string>
			<key>viewLocation</key>
			<string>{382,298}</string>
		</dict>
		<key>24</key>
		<dict>
			<key>keyName</key>
			<string>8</string>
			<key>viewLocation</key>
			<string>{430,298}</string>
		</dict>
		<key>25</key>
		<dict>
			<key>keyName</key>
			<string>9</string>
			<key>viewLocation</key>
			<string>{477,298}</string>
		</dict>
		<key>26</key>
		<dict>
			<key>keyName</key>
			<string>0</string>
			<key>viewLocation</key>
			<string>{524,298}</string>
		</dict>
		<key>27</key>
		<dict>
			<key>keyName</key>
			<string>-</string>
			<key>viewLocation</key>
			<string>{572,298}</string>
		</dict>
		<key>28</key>
		<dict>
			<key>keyName</key>
			<string>=</string>
			<key>viewLocation</key>
			<string>{619,298}</string>
		</dict>
		<key>29</key>
		<dict>
			<key>keyName</key>
			<string>delete</string>
			<key>viewLocation</key>
			<string>{667,298}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>keyName</key>
			<string>F2</string>
			<key>viewLocation</key>
			<string>{163,402}</string>
		</dict>
		<key>30</key>
		<dict>
			<key>keyName</key>
			<string>tab</string>
			<key>viewLocation</key>
			<string>{50,251}</string>
		</dict>
		<key>31</key>
		<dict>
			<key>keyName</key>
			<string>Q</string>
			<key>viewLocation</key>
			<string>{116,251}</string>
		</dict>
		<key>32</key>
		<dict>
			<key>keyName</key>
			<string>W</string>
			<key>viewLocation</key>
			<string>{162,251}</string>
		</dict>
		<key>33</key>
		<dict>
			<key>keyName</key>
			<string>E</string>
			<key>viewLocation</key>
			<string>{210,251}</string>
		</dict>
		<key>34</key>
		<dict>
			<key>keyName</key>
			<string>R</string>
			<key>viewLocation</key>
			<string>{258,251}</string>
		</dict>
		<key>35</key>
		<dict>
			<key>keyName</key>
			<string>T</string>
			<key>viewLocation</key>
			<string>{305,251}</string>
		</dict>
		<key>36</key>
		<dict>
			<key>keyName</key>
			<string>Y</string>
			<key>viewLocation</key>
			<string>{353,251}</string>
		</dict>
		<key>37</key>
		<dict>
			<key>keyName</key>
			<string>U</string>
			<key>viewLocation</key>
			<string>{400,251}</string>
		</dict>
		<key>38</key>
		<dict>
			<key>keyName</key>
			<string>I</string>
			<key>viewLocation</key>
			<string>{446,251}</string>
		</dict>
		<key>39</key>
		<dict>
			<key>keyName</key>
			<string>O</string>
			<key>viewLocation</key>
			<string>{495,251}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>keyName</key>
			<string>F3</string>
			<key>viewLocation</key>
			<string>{209,402}</string>
		</dict>
		<key>40</key>
		<dict>
			<key>keyName</key>
			<string>P</string>
			<key>viewLocation</key>
			<string>{542,251}</string>
		</dict>
		<key>41</key>
		<dict>
			<key>keyName</key>
			<string>[</string>
			<key>viewLocation</key>
			<string>{589,251}</string>
		</dict>
		<key>42</key>
		<dict>
			<key>keyName</key>
			<string>]</string>
			<key>viewLocation</key>
			<string>{637,251}</string>
		</dict>
		<key>43</key>
		<dict>
			<key>keyName</key>
			<string>\</string>
			<key>viewLocation</key>
			<string>{685,251}</string>
		</dict>
		<key>44</key>
		<dict>
			<key>keyName</key>
			<string>caps lock</string>
			<key>viewLocation</key>
			<string>{50,204}</string>
		</dict>
		<key>45</key>
		<dict>
			<key>keyName</key>
			<string>A</string>
			<key>viewLocation</key>
			<string>{131,204}</string>
		</dict>
		<key>46</key>
		<dict>
			<key>keyName</key>
			<string>S</string>
			<key>viewLocation</key>
			<string>{178,204}</string>
		</dict>
		<key>47</key>
		<dict>
			<key>keyName</key>
			<string>D</string>
			<key>viewLocation</key>
			<string>{225,204}</string>
		</dict>
		<key>48</key>
		<dict>
			<key>keyName</key>
			<string>F</string>
			<key>viewLocation</key>
			<string>{273,204}</string>
		</dict>
		<key>49</key>
		<dict>
			<key>keyName</key>
			<string>G</string>
			<key>viewLocation</key>
			<string>{320,204}</string>
		</dict>
		<key>5</key>
		<dict>
			<key>keyName</key>
			<string>F4</string>
			<key>viewLocation</key>
			<string>{258,402}</string>
		</dict>
		<key>50</key>
		<dict>
			<key>keyName</key>
			<string>H</string>
			<key>viewLocation</key>
			<string>{367,204}</string>
		</dict>
		<key>51</key>
		<dict>
			<key>keyName</key>
			<string>J</string>
			<key>viewLocation</key>
			<string>{415,204}</string>
		</dict>
		<key>52</key>
		<dict>
			<key>keyName</key>
			<string>K</string>
			<key>viewLocation</key>
			<string>{463,204}</string>
		</dict>
		<key>53</key>
		<dict>
			<key>keyName</key>
			<string>L</string>
			<key>viewLocation</key>
			<string>{510,204}</string>
		</dict>
		<key>54</key>
		<dict>
			<key>keyName</key>
			<string>;</string>
			<key>viewLocation</key>
			<string>{557,204}</string>
		</dict>
		<key>55</key>
		<dict>
			<key>keyName</key>
			<string>&apos;</string>
			<key>viewLocation</key>
			<string>{605,204}</string>
		</dict>
		<key>56</key>
		<dict>
			<key>keyName</key>
			<string>return</string>
			<key>viewLocation</key>
			<string>{651,204}</string>
		</dict>
		<key>57</key>
		<dict>
			<key>keyName</key>
			<string>⇧shift</string>
			<key>viewLocation</key>
			<string>{50,158}</string>
		</dict>
		<key>58</key>
		<dict>
			<key>keyName</key>
			<string>Z</string>
			<key>viewLocation</key>
			<string>{154,158}</string>
		</dict>
		<key>59</key>
		<dict>
			<key>keyName</key>
			<string>X</string>
			<key>viewLocation</key>
			<string>{202,158}</string>
		</dict>
		<key>6</key>
		<dict>
			<key>keyName</key>
			<string>F5</string>
			<key>viewLocation</key>
			<string>{305,402}</string>
		</dict>
		<key>60</key>
		<dict>
			<key>keyName</key>
			<string>C</string>
			<key>viewLocation</key>
			<string>{248,158}</string>
		</dict>
		<key>61</key>
		<dict>
			<key>keyName</key>
			<string>V</string>
			<key>viewLocation</key>
			<string>{296,158}</string>
		</dict>
		<key>62</key>
		<dict>
			<key>keyName</key>
			<string>B</string>
			<key>viewLocation</key>
			<string>{344,158}</string>
		</dict>
		<key>63</key>
		<dict>
			<key>keyName</key>
			<string>N</string>
			<key>viewLocation</key>
			<string>{391,158}</string>
		</dict>
		<key>64</key>
		<dict>
			<key>keyName</key>
			<string>M</string>
			<key>viewLocation</key>
			<string>{439,158}</string>
		</dict>
		<key>65</key>
		<dict>
			<key>keyName</key>
			<string>,</string>
			<key>viewLocation</key>
			<string>{486,158}</string>
		</dict>
		<key>66</key>
		<dict>
			<key>keyName</key>
			<string>.</string>
			<key>viewLocation</key>
			<string>{534,158}</string>
		</dict>
		<key>67</key>
		<dict>
			<key>keyName</key>
			<string>/</string>
			<key>viewLocation</key>
			<string>{581,158}</string>
		</dict>
		<key>68</key>
		<dict>
			<key>keyName</key>
			<string>⇧shift</string>
			<key>viewLocation</key>
			<string>{630,158}</string>
		</dict>
		<key>69</key>
		<dict>
			<key>keyName</key>
			<string>⌃</string>
			<key>viewLocation</key>
			<string>{50,110}</string>
		</dict>
		<key>7</key>
		<dict>
			<key>keyName</key>
			<string>F6</string>
			<key>viewLocation</key>
			<string>{352,402}</string>
		</dict>
		<key>70</key>
		<dict>
			<key>keyName</key>
			<string>⌥</string>
			<key>viewLocation</key>
			<string>{110,110}</string>
		</dict>
		<key>71</key>
		<dict>
			<key>keyName</key>
			<string>⌘</string>
			<key>viewLocation</key>
			<string>{170,110}</string>
		</dict>
		<key>72</key>
		<dict>
			<key>keyName</key>
			<string>space</string>
			<key>viewLocation</key>
			<string>{229,110}</string>
		</dict>
		<key>73</key>
		<dict>
			<key>keyName</key>
			<string>⌘</string>
			<key>viewLocation</key>
			<string>{503,110}</string>
		</dict>
		<key>74</key>
		<dict>
			<key>keyName</key>
			<string>⌥</string>
			<key>viewLocation</key>
			<string>{549,110}</string>
		</dict>
		<key>75</key>
		<dict>
			<key>keyName</key>
			<string>↑</string>
			<key>viewLocation</key>
			<string>{637,110}</string>
		</dict>
		<key>76</key>
		<dict>
			<key>keyName</key>
			<string>←</string>
			<key>viewLocation</key>
			<string>{589,63}</string>
		</dict>
		<key>77</key>
		<dict>
			<key>keyName</key>
			<string>↓</string>
			<key>viewLocation</key>
			<string>{637,63}</string>
		</dict>
		<key>78</key>
		<dict>
			<key>keyName</key>
			<string>→</string>
			<key>viewLocation</key>
			<string>{684,63}</string>
		</dict>
		<key>8</key>
		<dict>
			<key>keyName</key>
			<string>F7</string>
			<key>viewLocation</key>
			<string>{400,402}</string>
		</dict>
		<key>9</key>
		<dict>
			<key>keyName</key>
			<string>F8</string>
			<key>viewLocation</key>
			<string>{446,402}</string>
		</dict>
	</dict>
</dict>
</plist>
